/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #fff;
    --box-bg-color: #F7F7F7;
    --box-bd-color: #E8E8E8;

    --font-family: "Inter", serif;
    --title-fs: 3rem;
    --resp-title-fs: 2.5rem;
    --resp-title-fs-2: 2rem;
    --sub-title-fs: .875rem;
    --resp-sub-title-fs: .775rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    font-weight: 400;
}

body{
    font-family: var(--font-family);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

button{
    cursor: pointer;
}

.main-pad{
    padding: 0 30px;
}

/* Header Sec */
#header{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--secondary-color);
}

#header h2{
    font-size: 1.8rem;
    font-weight: 800;
}

.nav-link-container ul li{
    display: inline;
    padding-right: 60px;
}

.nav-link-container ul li:last-child{
    padding-right: 0;
}

.nav-link-container ul li a{
    font-size: 1rem;
    color: var(--primary-color);
}

.btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 13px;
}

.btn-black{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Real Estate Section */
#real-estae-sec{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#real-estae-sec h3{
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    column-gap: 7px;
}

#real-estae-sec i{
    color: #707070;
}


/* Common Use */
.sub-title{
    background-color: var(--box-bg-color);
    border: 2px solid var(--box-bd-color);
    border-radius: 999px;
    padding: 10px 15px;
    width: fit-content;
    font-size: var(--sub-title-fs);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0px;
}

#real-estae-sec h1{
    font-size: 11.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

#sec-container #img-1{
    width: 100%;
    transform: translateY(-80px);
    transition: .4s ease-out;
}

/* Feature Properties Section */
#third-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Common Use */
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.content-container h1{
    font-size: var(--title-fs);
    font-weight: 600;
    margin-top: 10px;
}

#third-container .img-container .feature .address{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0 25px 0;
}

#third-container .img-container .feature ul li{
    display: inline;
    border: 1px solid var(--box-bd-color);
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: .8rem;
}

.img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-bottom: 60px;
}

.img-container .img-card-container{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.img-container .img-card-container img{
    width: 100%;
    border-radius: 20px;
    transition: scale .3s linear;
    cursor: pointer;
}

.img-container .img-card-container img:hover{
    scale: 1.1;
}

#third-container .img-container .img-card-container .price{
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

#third-container .img-container .img-card-container .price div{
    background-color: var(--secondary-color);
    padding: 7px 15px;
    font-size: var(--sub-title-fs);
    border-radius: 20px;
    font-weight: 500;
}

/* About Us Section */

/* Common Use */
.flex-sec{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.flex-sec .content-wrapper{
    width: 50%;
}

.flex-sec .content-wrapper .content-container{
    display: flex;
    align-items: start;
    margin-bottom: 150px;
}

.flex-sec .content-wrapper p{
    font-size: var(--sub-title-fs);
    line-height: 1.3rem;
    margin-bottom: 30px;
}

.flex-sec .img-container-1{
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
}

.flex-sec .img-container-1 img{
    width: 100%;
    border-radius: 20px;
}

/* Catergories Section */
#fifth-container{
    margin-top: 150px;
}

#fifth-container .content-container{
    text-align: center;
}

#fifth-container .feature .address p{
    font-size: var(--sub-title-fs);
    margin-top: 5px;
    line-height: 1.3rem;
}


.btn-1{
    font-size: var(--sub-title-fs);
    background-color: transparent;
    border: 1px solid var(--box-bd-color);
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: 500;
}

/* Why Choose Us Section */
.flex-reverse{
    display: flex;
    flex-direction: row-reverse;
}

/* Some Number Section */
#seventh-container{
    margin-top: 150px;
    display: flex;
    gap: 150px;
    min-height: 100vh;
}

#seventh-container .content-container{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: 1px;
    position: sticky;
    top: 20px;
    margin-bottom: 200px
}

#seventh-container .content-container .btn{
    margin-top: 40px;
}

#seventh-container .review-container{
    width: 60%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#seventh-container .review-container .reviews{
    background-color: var(--box-bg-color);
    padding: 30px 25px;
    border-radius: 20px;
}

#seventh-container .review-container .reviews h3{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#seventh-container .review-container .reviews h3+p{
    margin-bottom: 30px;
}

#seventh-container .review-container .reviews p{
    font-size: var(--sub-title-fs);
    line-height: 1.2rem;
}

/* Find Your Dream Section */
#eighth-container{
    margin-top: 150px;
}

#eighth-container .content-container h1{
    text-align: center;
}

#eighth-container .flex-sec{
    margin-top: 30px;
}

#eighth-container .flex-sec .content-wrapper{
    width: 60%;
    padding-top: 50px;
}

#eighth-container .flex-sec .content-container{
    margin-bottom: 20px;
}

#eighth-container .flex-sec .content-wrapper p{
    margin-bottom: 250px;
}

#eighth-container .flex-sec .content-container h1{
    text-align: start;
}

#eighth-container .flex-sec .img-container-1{
    position: sticky;
    top: 20px;
    height: 100%;
}

.hide-img{
    display: none;
}

.show-img{
    display: block;
}

/* Our Agent Section */
#ninth-container{
    margin-top: 150px;
}

#ninth-container .slide-container{
    display: flex;
    gap: 20px;
    animation: img-slide 11s linear infinite;
}

@keyframes img-slide{
    0%    {transform: translate(0)}
    100% {transform: translate(-120%)}
}

#ninth-container .slide-container .img-wrapper{
    width: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
}

#ninth-container .slide-container .img-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: scale 0.6s ease-in;
}

#ninth-container .slide-container .img-wrapper img:hover{
    scale: 1.1;
}

#ninth-container .slide-container .wrapper .agent-name{
    font-size: 1.5rem;
    font-weight: 600;
}

#ninth-container .slide-container .wrapper .agent-name+p{
    font-size: var(--sub-title-fs);
}

/* Testmonial Section */
#tenth-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tenth-container h1{
    text-align: center;
}

#tenth-container .card-conatiner-wrapper{
    display: flex;
    gap: 0 20px;
}

#tenth-card1,
#tenth-card3{
    scale: .9;
}

#tenth-card2{
    scale: 1;
}

#tenth-container .card-container{
    width: 800px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px 60px 40px 60px;
    border-radius: 30px;
    border: 1px solid var(--box-bd-color);
    box-shadow: 0 0 50px 20px #fafafabf;
}

#tenth-container .card-container .content h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
}

#tenth-container .card-container .content p{
    font-size: var(--sub-title-fs);
    margin-top: 10px;
    line-height: 1.3rem;
}

#tenth-container .card-container .ts-img-container{
    border-radius: 20px;
}

#tenth-container .card-container .ts-img-container img{
    width: 100%;
    border-radius: 20px;
}

#tenth-container .arrow-button{
    margin-top: 40px;
    font-size: 1.2rem;
    color: #808080ad;
    display: flex;
    column-gap: 20px;
}

#tenth-container .arrow-button i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1.3px solid var(--box-bd-color);
    display: grid;
    place-items: center;
    transition: .3s ease-in;
    cursor: pointer;
}

#tenth-container .arrow-button i:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Article Section */
#eleventh-container{
    margin-top: 150px;
}

#eleventh-container .first-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#eleventh-container .content-container{
    display: flex;
    align-items: flex-start;
}

#eleventh-container .img-container .feature h2{
    font-weight: 600;
    margin-bottom: 10px;
}

#eleventh-container .img-container .feature .date-post span{
    font-size: var(--sub-title-fs);
    padding-right: 20px;
}

#eleventh-container .img-container .feature .date-post i{
    font-size: .8rem;
    padding-right: 6px;
}

/* FAQ Section */
#twelfth-container{
    margin-top: 150px;
    display: flex;
    gap: 0 40px;
    min-height: 100vh;
}

#twelfth-container .content-container{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50%;
    height: 1px;
    position: sticky;
    top: 20px;
    margin-bottom: 200px
}

#twelfth-container .faq-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}

#twelfth-container .faq-container .faq{
    background-color: var(--box-bg-color);
    border: 1px solid var(--box-bd-color);
    padding: 30px 25px;
    border-radius: 20px;
    position: relative;
    user-select: none;
}

#twelfth-container .faq-container .faq::after{
    content: "+";
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

#twelfth-container .faq-container .faq.show::after{
    content: "-";
    font-size: 2rem;
    position: absolute;
    right: 30px;
    top: 30%;
}

#twelfth-container .faq-container h3{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.faq-container .hide{
    display: none;
    margin-top: 15px;
    line-height: 1.5rem;
    color: hsla(0, 0%, 29%, 0.89);
}

.faq.show .hide{
    display: block;
}

/* Contact Section */
#thirteenth-container{
    margin-top: 100px;
    padding-top: 100px;
    background-color: var(--primary-color);
}

#thirteenth-container .contact-wrapper{
    display: flex;
}

#thirteenth-container .contact-wrapper .contact-left{
    width: 35%;
}

#thirteenth-container .contact-wrapper .contact-left .btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#thirteenth-container .contact-wrapper .contact-right{
    width: 65%;
}

#thirteenth-container .contact-wrapper .contact-right img{
    transform: translateX(100px);
    width: 100%;
    height: 100%;
}

#thirteenth-container .content-container{
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

#thirteenth-container .content-container .sub-title{
    background-color: #241D1F;
    border: 2px solid #3A3336;
    color: var(--secondary-color);
}

#thirteenth-container .content-container h1{
    color: var(--secondary-color);
}

.contact-left form{
    display: flex;
    flex-direction: column;
    gap: 50px 0;
    margin-bottom: 40px;
}

.contact-left form input{
    font-size: 1rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #525252c9;
    background: transparent;
}

/* Footer */
#footer-container{
    background-color: var(--primary-color);
    padding-top: 100px;
    color: #fff;
    min-height: 80vh;
}

#footer-container .main-container{
    display: flex;
}

#footer-container .main-container .first-item{
    width: 40%;
    margin-right: 150px;
}

#footer-container .main-container .first-item .realfy-flex{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

#footer-container .realfy-flex h2{
    font-size: 1.8rem;
    font-weight: 800;
}

#footer-container .main-container .first-item p{
    line-height: 1.5rem;
    font-size: var(--sub-title-fs);
}

#footer-container .main-container .first-item .btn-1{
    color: var(--secondary-color);
    border: 1px solid #525252;
    padding: 15px 30px;
    margin-top: 30px;
}

#footer-container .item-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 0 70px;
}

#footer-container .item-wrapper .item{
    display: grid;
    gap: 30px 0;
}

#footer-container .item-wrapper .item p{
    font-size: var(--sub-title-fs);
}

.credit {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    color: #636363;
    padding: 30px 0;
    border-top: 1px solid #525252;
}

/* Scroll Top Button */
.to-top{
    position: fixed;
    cursor: pointer;
    display: none;
    place-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    right: 10px;
    bottom: 10px;
    z-index: 999;
}

/* Responsive Section */
@media screen and (max-width: 1024px) {
    #real-estae-sec h3{
        font-size: .9rem;
    }
    #sec-container #img-1{
        transform: translateY(-40px);
    }
    #third-container .img-container .feature ul li{
        display: inline-block;
        margin-bottom: 5px;
        font-size: .8rem;
    }
    .flex-sec .content-wrapper .content-container{
        margin-bottom: 120px;
    }
    #seventh-container{
        gap: 90px;
    }
    #eighth-container .flex-sec .content-wrapper p{
        margin-bottom: 180px;
    }
    #footer-container .main-container{
        padding-bottom: 50px;
    }    
    .credit {
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .nav-link-container ul li{
        padding-right: 40px;
    }
    #real-estae-sec h1{
        font-size: 9rem;
    }
    #real-estae-sec h3{
        font-size: .8rem;
    }
    .btn{
        font-size: .8rem;
        padding: 13px 27px;
    }
    .img-container{
        grid-template-columns: repeat(2,1fr);
    }
    .content-container h1{
        font-size: var(--resp-title-fs);
    }
    .sub-title{
        font-size: var(--resp-sub-title-fs);
    }
    .flex-sec{
        gap: 150px;
    }
    .flex-sec .content-wrapper .content-container{
        margin-bottom: 100px;
    }
    #seventh-container .review-container{
        width: 100%;
    }
    .content-container h1{
        margin-top: 20px;
    }
    #seventh-container .content-container{
        margin-bottom:300px
    }
    #eighth-container .flex-sec{
        gap: 100px;
    }
    #eighth-container .flex-sec .content-wrapper p{
        margin-bottom: 150px;
    }    
    #eighth-container .flex-sec .content-wrapper p:last-child{
        margin-bottom: 100px;
    }   
    #ninth-container .slide-container .img-wrapper{
        width: 250px;
    }
    #tenth-container .card-container{
        width: 700px;
        gap: 60px;
        padding: 20px 50px 30px 50px;
    }
    #twelfth-container{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    #twelfth-container .content-container{
        width: 100%;
        position: static;
        margin-bottom: 130px
    }
    #twelfth-container .faq-container{
        width: 100%;
    }
    #thirteenth-container .contact-wrapper{
        display: flex;
        flex-direction: column;
    }#thirteenth-container .contact-wrapper .contact-left{
        width: 100%;
    }
    .contact-left form input{
        width: 50%;
    }
    #thirteenth-container .contact-wrapper .contact-right{
        width: 100%;
    }
    #thirteenth-container .contact-wrapper .contact-right img{
        transform: translateX(0px);
    }    
    #footer-container .main-container{
        display: flex;
        flex-direction: column;
    }
    #footer-container .main-container .first-item{
        width: 80%;
    }
    #footer-container .main-container .first-item .btn-1{
        margin-bottom: 30px;
    }
    #footer-container .item-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 0 50px;
    }
}

@media screen and (max-width: 450px) {
    .flex-sec,#fifth-container,#seventh-container,
    #eighth-container,#ninth-container,#tenth-container,#eleventh-container,#twelfth-container{
        margin-top: 90px;
    }

    .nav-link-container ul li{
        display: none;
    }
    #real-estae-sec h1{
        font-size: 5rem;
    }
    .img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .flex-sec{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .flex-sec .content-wrapper{
        width: 100%;
    }
    .flex-sec .content-wrapper .content-container{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    .flex-sec .img-container-1{
        width: 100%;
    }
    .content-container h1{
        font-size: var(--resp-title-fs-2);
        margin-top: 10px;
    }
    #seventh-container{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    #seventh-container .content-container{
        width: 100%;
        position: static;
        margin-bottom: 170px;
    }
    #seventh-container .review-container{
        width: 80%;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #seventh-container .review-container .reviews h3{
        font-size: 2rem;
    }
    #seventh-container .review-container .reviews p{
        font-size: var(--resp-sub-title-fs);
        line-height: 1.2rem;
    }
    .show-img{
        display: none;
    }
    .hide-img{
        display: block;
        margin-bottom: 40px;
    }
    #eighth-container .flex-sec .content-wrapper{
        width: 100%;
        margin-bottom: 0px;
    }
    #eighth-container .flex-sec .content-wrapper p{
        margin-bottom: 40px;
    }
    #eighth-container .flex-sec .img-container-1{
        position: static;
    }
    #ninth-container .slide-container{
        animation: img-slide 8s linear infinite;
    }
    #tenth-container .card-container{
        width: 400px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px 30px 20px 30px;
    }
    #tenth-container .card-container .ts-img-container{
        border-radius: 20px;
    }
    #eleventh-container .first-wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 40px;
    }
    #eleventh-container .content-container{
        margin-bottom: 20px;
    }
    #twelfth-container .faq-container h3{
        font-size: .9rem;
    }
    #twelfth-container .faq-container{
        width: 100%;
        margin-top: 30px;
    }
    #thirteenth-container{
        padding-top: 60px;
    }
    .contact-left form input{
        width: 100%;
    }
    #thirteenth-container .contact-wrapper .contact-right{
        margin-top: 50px;
    }
    #footer-container .main-container .first-item{
        width: 100%;
    }
    #footer-container .item-wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: start;
        gap: 50px 0;
    }
}

@media screen and (max-width: 390px) {
    #seventh-container .review-container{
        width: 100%;
    }
    #third-container .img-container .feature ul li{
        display: inline-block;
        margin-bottom: 9px;
    }
    .flex-sec .content-wrapper .content-container{
        display: flex;
        align-items: center;
    }
    #twelfth-container .faq-container h3{
        padding-right: 30px;
    }
}